:root {
    --blackish: rgba(32, 32, 32, 1);
    --seasaltish: rgba(254, 254, 254, 1);
    --blueish: rgba(24, 30, 141, 1);
    --peachish: rgba(171, 120, 102,1);
    --cloudish: rgba(188, 188, 188, 1);
    --font-family-heading: "franklin-gothic-std-cond", sans-serif;
    --font-family-body: "franklin-gothic-std", sans-serif;
}



body {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}

.heading-container {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
}

.heading {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--blackish);
    text-align: center;
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.8px;
    transform: scaleY(1.15);
}

.subheading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    margin-top: 20px;
}

.subheading {
    color: var(--blackish);
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin: 0px
}

.back-button {
    color: var(--blackish);
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0px;
    margin-top: 10px;
    margin-right: 5px;
}

.image-section {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    position: center;
    padding: 0px;
}

.event-image{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.event-details {
    background-color: var(--blackish);
    color: var(--seasaltish);
    padding: 10px;
    flex: 1;
}

.text-time {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 20px;
}

.event-heading{
    margin: 0;
    line-height: 1;
}

.event-heading .designer,
.event-heading .event-name {
    display: block;
    margin: 0;
    line-height: 1;
}
   
.event-heading .designer {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-size: 42px;
    font-style: normal;
    margin-bottom: -16px;
}

.event-heading .event-name {
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-weight: 600;
    font-size: 48px;
    font-style: normal;
}

.text-details {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}


.text-location {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--blackish);
    background-color: var(--seasaltish);

}

.icon {
    width: 12px;
    margin-left: 5px
}

.map-qr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.map-box, .qr-box {
    flex: 1;
}
.map-box{
    width: 100%;
    height: auto;
}

.qr-box {
    background-color: var(--seasaltish);
    max-width: auto;
    text-align: center;
    height: auto;
    margin-bottom: 0px;
    
}

.qr-box img {
    padding: 16px;
    padding-bottom: 0px;
    height: auto;
}

.qr-text {
    color: var(--blackish);
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 2px;
    margin-bottom: 0px;
}

.qr-text span {
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin: 2px;
    margin-top: 8px;
    color: var(--blueish);
    font-weight: 600;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    padding-bottom: 14px;
    background-color: var(--seasaltish);
    display: inline-block;
    transform: scaleY(1.2);
    z-index: 1000;
}
footer a{
    text-decoration: none;
    color: #000;
    margin: 0 8px;
    font-weight: bold;
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}
footer a.active {
    color: rgb(24, 30, 141);
    padding: gray;
    font-weight: normal;
    text-decoration: underline;
}

/* From Adobe Font Website */
.FranklinGothicBookRegular {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.FranklinGothicBookItalic {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.FranklinGothicHeavyRegular {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.FranklinGothicHeavyItalic {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.FranklinGothicMediumCondRegular {
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.FranklinGothicDemiCondRegular {
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-weight: 600;
    font-style: normal;
}