:root {
    --blackish: rgba(32, 32, 32, 1);
    --seasaltish: rgba(254, 254, 254, 1);
    --blueish: rgba(24, 30, 141, 1);
    --peachish: rgba(171, 120, 102,1);
    --cloudish: rgba(188, 188, 188, 1);
    --font-family-heading: "franklin-gothic-std-cond", sans-serif;
    --font-family-body: "franklin-gothic-std", sans-serif;
}



body {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.heading-container {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
}

.heading {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--blackish);
    text-align: center;
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.8px;
    transform: scaleY(1.15);
}

.subheading {
    color: var(--blackish);
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-top: 25px;
    margin-bottom: 0px;
}

.event-card {
    background-color: var(--blackish);
    color: white;
}

h3 {
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
h3 span {
    font-family: "franklin-gothic-std", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}