
body {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.heading-container {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
}

.heading {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--blackish);
    text-align: center;
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.8px;
    transform: scaleY(1.15);
}
.subheading.first {
    color: var(--blackish);
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-top: 25px;
    margin-bottom: 0px;
}
.subheading.second {
    color: var(--seasaltish);
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-top: 32px;
    margin-bottom: 0px;
    margin-left: -10px;
}
.map-section{
    text-align: left;
    font-style: bold;
    margin-bottom: 0px;
    
}

.map-image {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.schedule{
    background-color: var(--seasaltish);
    width: 540px;
    height: 580px;
}

.venue-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.venue ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
.venue{
    color: white;
    background-color: rgba(32, 32, 32, 1);
    font-family: "franklin-gothic-std", sans-serif;
    font-style: italic;
    padding: 10px;
    width: 140px;
    font-size: 14px;
    margin-bottom: 20px;
}

.venue h3 {
    font-family: "franklin-gothic-std", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 40px;
}

/* From Adobe Font Website */
.FranklinGothicBookRegular {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.FranklinGothicBookItalic {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.FranklinGothicHeavyRegular {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.FranklinGothicHeavyItalic {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.FranklinGothicMediumCondRegular {
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.FranklinGothicDemiCondRegular {
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.schedule-header {
    display: flex;
    width: 540px;
    justify-content: space-between;
    align-items: flex-end;
}

.schedule-navigation {
    display: flex;
    align-items: center;
    gap: 6px;
}

.schedule-navigation-button {
    display: flex;
    align-items: center;
    gap: 2px;
}

.schedule-navigation-button{
    color: var(--blackish);
}

.inactive{
    color: var(--seasaltish);
}