* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

body {
    position: relative;
    z-index: 1;
    background-color: #000;
}

.heading {
    color: var(--White, #FFF);
    text-align: center;
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.8px;
    transform: scaleY(1.15);
}

.headingContainer {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.subheading {
    color: var(--White, #FFF);
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.sponsorText {
    color: var(--White, #FFF);
    font-family: "franklin-gothic-std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.sponsorLogo {
    height: 16px;
}

.subheadingContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 10px;
    margin-right: 10px;
}

.sponsorContainer {
    display: flex;
    gap: 5px;
}

.sponsorContainer img {
    position: relative;
    top: 2px;
}

.bodyText {
    position: absolute;
    color: var(--Whitish, #FEFEFE);
    text-align: center;
    font-family: "franklin-gothic-std", sans-serif;
    font-size: 86px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.8px;
    top: 421px;
    width: 100%;
    transform: scaleY(1.35);
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.touchContainer {
    position: absolute;
    top: 750px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.clickIcon {
    width: 46px;
}

.touchText {
    color: var(--Whitish, #FEFEFE);
    text-align: center;
    font-family: "franklin-gothic-std", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* From Adobe Font Website */
.FranklinGothicBookRegular {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.FranklinGothicBookItalic {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.FranklinGothicHeavyRegular {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.FranklinGothicHeavyItalic {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.FranklinGothicMediumCondRegular {
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.FranklinGothicDemiCondRegular {
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-weight: 600;
    font-style: normal;
}