* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blackish: rgba(32, 32, 32, 1);
    --seasaltish: rgba(248, 248, 248, 1);
    --blueish: rgba(24, 30, 141, 1);
    --peachish: rgba(171, 120, 102,1);
    --cloudish: rgba(188, 188, 188, 1);
    --font-family-heading: "franklin-gothic-std-cond", sans-serif;
    --font-family-body: "franklin-gothic-std", sans-serif;
}


html, body {
    height: 100%;
    overflow: hidden;
}
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

body {
    position: relative;
    z-index: 1;
    background-color: #000;
    justify-content: center;
}

.heading {
    color: var(--White, #FFF);
    text-align: left;
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.8px;
    transform: scaleY(1.15);
}

.headingContainer {
    margin-top: 80%;
    margin-left: 2%;
    margin-right: 10px;
}

.sponsorText {
    color: var(--White, #FFF);
    font-family: "franklin-gothic-std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.sponsorContainer {
    display: flex;
    gap: 10px;
    margin-left: 25%;
    margin-top: 75%;
}

.sponsorLogo {
    height: 16px;
}

.sponsorContainer img {
    position: relative;
    top: 2px;
}

/* From Adobe Font Website */
.FranklinGothicBookRegular {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.FranklinGothicBookItalic {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.FranklinGothicHeavyRegular {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.FranklinGothicHeavyItalic {
    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.FranklinGothicMediumCondRegular {
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.FranklinGothicDemiCondRegular {
    font-family: "franklin-gothic-std-cond", sans-serif;
    font-weight: 600;
    font-style: normal;
}